<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorberg.near">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Vibration permission actually required by this app-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="com.sensorberg.sdk.demo.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sensorberg.sdk.demo.DemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- HockeyApp activities, since they don´t use aar distribution-->
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="com.sensorberg.sdk.demo.ScannerActivity"/>




        <!-- this is not part of the bootstrapper manifest. It is a really ugly activity...-->
        <activity android:name="com.sensorberg.sdk.bootstrapper.ActionActivity"
            android:theme="@android:style/Theme.Dialog"/>

    </application>


</manifest>
